.row{
    padding: 20px;   
}
div{
    background-color: #e7ee8a; 
}

/*estilo foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: static; /*absolute*/
        width: 100%; /*15%*/
        box-shadow: 7px 7px 5px rgb(31, 31, 31);
        /*top: 690px;
        border-radius: 100%;*/
    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: static; /*absolute*/
        width: 40%;
        box-shadow: 7px 7px 5px rgb(31, 31, 31);
        /*border-radius: 100%;
        top: 600px;
        left: 30%;*/
    }
}

/*nombre*/
#nombre {
    font-weight: bold;
    margin-top: 10%;
}
