<div class="row">
    <h1>Hard & Sotf skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [imageSrc]="'../assets/Java.png'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="110"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/c++.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [imageSrc]="'../assets/AutoCAD.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [imageSrc]="'../assets/MySQL.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/Ingles.png'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="110"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [imageSrc]="'../assets/Lider.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>