<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Base de Datos para la empresa “Mountain Maiden Cabañas”</h3>
            <p>Con mis compañeros de la facultad desarrollamos una Base de Datos para la empresa “Mountain Maiden Cabañas”, que permitía gestionar la información de cada una de las cabañas y sus servicios brindados, también llevar a cabo el control de la información de quienes alquilan o han alquilado las cabañas, llevando la gestión de pagos de estos.
                Utilizamos MySQL.
                Mi rol fue de director de proyecto.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <!--<img src="../../../assets/" class="img-fluid img-proyecto">-->
        </div>
    </div>
</div>